<div class="p-3 mb-2 bg-danger text-white text-center justify-content-center">You have cancelled your order</div>
<div class="text-center mt-5">
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Return Home</a>
</div>