<section id="itemCatalog" class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            @Html.ActionLink("Go To Cart", "Index", "Cart")
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12  col-md-12  col-lg-12">
                @Html.Action("ProductSearch", "Home")
            </div>
        </div>
    </div>
</section>