@model System.Web.Mvc.HandleErrorInfo

@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <div class="alert text-center justify-content-center alert-danger">
            <h3>An error occurred while processing your request.</h3>
        </div>
    }
    else
    {
        <div class="alert text-center justify-content-center alert-danger">
            <h3>@ViewBag.errorMessage</h3>
        </div>
    }
}

